* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.leftSection_Container {
  width: 10%;
  height: 100%;
}

.middleSection_Container {
  width: 40%;
  height: 100%;
}

.rightSection_Container {
  width: 50%;
  height: 100%;
}

.dropdown_subMenu {
  text-decoration: none;
}

.table_Container {
  display: grid;
  gap: 15px 0;
}

.table_row_data {
}
