* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.leftSection_Container {
  width: 10%;
  height: 100%;
}

.middleSection_Container {
  width: 40%;
  height: 100%;
}

.rightSection_Container {
  width: 50%;
  height: 100%;
}

.dropdown_subMenu {
  text-decoration: none;
}

.table_Container {
  display: -ms-grid;
  display: grid;
  gap: 15px 0;
}

.table_row_email {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.table_row_data {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid green;
}

.email_buttons_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20%;
  opacity: 0;
  border: 1px solid blue;
}

.email_buttons {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.table_row_data:hover .email_buttons_Container {
  opacity: 1;
}
